@model IEnumerable<Library.UI.Models.BookModel>

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    @*<select>
        <option selected="selected">All books</option>
        <option>Available</option>
        <option>My books</option>
    </select>*@
    @Html.ActionLink("All books", "Index", new { orderBy = ViewBag.OrderBy, sort = false, bookFilter = 1 }) | 
    @Html.ActionLink("Available", "Index", new { orderBy = ViewBag.OrderBy, sort = false, bookFilter = 2 }) |
    @Html.ActionLink("My books", "Index", new { orderBy = ViewBag.OrderBy, sort = false, bookFilter = 3 })
</p>
<table class="table">
    <tr>
        <th>            
            @Html.ActionLink("Book Title", "Index", new { orderBy = "Book Title", sort = true, bookFilter = ViewBag.bookFilter })
        </th>
        <th>
            @Html.ActionLink("Authers", "Index", new { orderBy = "Auther", sort = true, bookFilter = ViewBag.bookFilter })            
        </th>
        <th>
            Available
        </th>
        <th></th>
    </tr>

@foreach (var book in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.Authers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => book.IsAvailable)
        </td>
        <td>        
            @{
                if (book.IsAvailable == "Yes")
                {
                    @Html.ActionLink("Borrow", "BorrowBook", new { bookId = book.BookId }) @:|
                }
                else
                {
                    if (book.TakenByCurrentUser)
                    {
                        @Html.ActionLink("Return", "ReturnBook", new { bookId = book.BookId }) @:|
                    }
                }
            }      
            @Html.ActionLink("History", "History", new { bookId = book.BookId })     
        </td>
    </tr>
}
</table>

<span>Showing : @ViewBag.BookFilterText , Ordered by : @ViewBag.OrderBy (@ViewBag.OrderDirection)</span>
